/* ============================================
   BOTONES
============================================ */
.btn-primary {
    background: #4f46e5;
    color: white;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover {
    background: #4338ca;
}

.btn-accent {
    background: #10b981;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 10px;
}

.btn-accent:hover {
    background: #059669;
}

.btn-ghost {
    background: white;
    border: 1px solid #d3d6df;
    padding: 10px 16px;
    border-radius: 10px;
    color: #444;
}

.btn-ghost:hover {
    background: #f0f0f3;
}