/* ============================================
   RESUMEN FINAL
============================================ */
.resumen-valor {
    font-size: 1.5rem;
    color: #4f46e5;
    font-weight: 700;
}

.resumen-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.link-historial .btn-accent {
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 12px;
}

.input-money-wrapper {
    position: relative;
    display: inline-block;
}

.money-symbol {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.input-money {
    padding-left: 20px;
}